@font-face {
    font-family: 'UnitRegular';
    src: url('unit-regular.eot');
    src: url('unit-regular.eot') format('embedded-opentype'),
         url('unit-regular.woff') format('woff'),
         url('unit-regular.ttf') format('truetype'),
         url('unit-regular.svg#UnitRegularRegular') format('svg');
}
